* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body {
    font-family: sans-serif;
}
.main-container {
    display: flex;
    flex-direction: column;
}
.header ul {
    display: flex;
    float: right;
}
.header li a {
    color: black;
    padding: 1rem;
    display: block;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin-top: 11%;
}
.content img {
    height: 100px;
}
a:hover {
    text-decoration: underline;
}